@import "../variables";
@import "../breakpoints";

.page-template-page-contexte-des-disparitions {
  h1 {
    font-family: "Test Manuka", sans-serif;
    font-weight: bold;
    font-size: 75px;
    color: $primary-light-white;
    margin: 0 0 0 0;
    text-align: left;
    line-height: 90%;
    text-transform: uppercase;
    padding: 0 40px 40px 40px;
    background-color: $primary-dark-red;

    @include respond-to-down(sm) {
      width: 80%;
      margin: 0 auto;
      text-align: center;
      padding: 0 0 40px 0;
    }
  }

  .contexte-des-disparitions-container {
    background-color: #f6f6f6;
    width: 100%;
    min-height: 100vh;
    padding: 40px 40px;
    box-sizing: border-box;
    overflow: visible;

    @include respond-to-down(sm) {
      padding: 0;
    }

    .container {
      max-width: 100%;
      margin: 0 auto;
      width: 100%;
    }

    .contexte-des-disparitions-content {
      width: 100%;
      color: $primary-dark-red;
      font-family: "Newsreader", sans-serif;
    }
  }
}
