@import "../variables";
@import "../breakpoints";

#footer {
  background-color: $primary-dark-red;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  color: #fff;

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    // max-width: 1200px;
    margin: 0 auto;
  }

  .footer-content-right {
    color: #fff;
    ul {
      list-style: none;
      display: flex;
      gap: 20px;
      margin: 0;
      padding: 0;

      li {
        color: #fff;

        a {
          color: #fff;
          text-decoration: none;

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}
