@import "../variables";
@import "../breakpoints";

#footer {
  background-color: $primary-dark-red;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  color: #fff;

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    // max-width: 100%;
    margin: 0 auto;

    @include respond-to-down(sm) {
      justify-content: center;
    }
  }
  .footer-content-left {
    display: flex;
    justify-content: center;
    flex-direction: row;
    .footer-logo {
      display: flex;
      flex-direction: row;

      .logo-baseline {
        width: 100%;
        height: 100%;
        object-fit: cover;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: crisp-edges;
      }
    }
  }

  .footer-content-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    @include respond-to-down(sm) {
      display: none;
    }

    ul {
      list-style: none;
      display: flex;
      gap: 40px;
      margin: 0;
      padding: 0;

      li {
        color: $primary-light-white;

        a {
          color: $primary-light-white;
          text-decoration: none;

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
    a {
      color: $primary-light-white;
      text-decoration: none;

      &:hover {
        opacity: 0.8;
      }
    }
    .footer-translations {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;
      font-size: 14px;
      .footer-translations-separator {
        color: $primary-red-transparent;
        font-size: 18px;
        font-weight: 900;
      }
    }
  }
}
