@import "../variables";
@import "../breakpoints";

#footer {
  background-color: $primary-dark-red;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  color: #fff;

  .footer-press {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 25px;
    gap: 20px;

    @include respond-to-down(sm) {
      grid-template-columns: 1fr;
    }

    .footer-press-title {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;

      @include respond-to-down(sm) {
        grid-column: 1;
        grid-row: 1;
      }
    }

    .footer-press-link {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      a {
        color: $primary-light-white;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        border-bottom: 1px solid $primary-light-white;
        &:hover {
          color: $primary-red;
          border-bottom-color: $primary-red;
        }
      }

      @include respond-to-down(sm) {
        @include respond-to-down(sm) {
          h3 {
            font-size: 12px;
          }
        }
        @include respond-to-down(xs) {
          h3 {
            font-size: 10px;
          }
        }
        grid-column: 1;
        grid-row: 3;
      }
    }

    .footer-press-logo {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 10px;
      //   @include respond-to-down(sm) {
      //     gap: 2px;
      //   }
      figure {
        width: 150px;
        background-color: #ffffff;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        // @include respond-to-down(sm) {
        //   width: 90px;
        // }

        img {
          width: 70px;
          height: 120px;
          flex-shrink: 0;
          object-fit: contain;
          image-rendering: -webkit-optimize-contrast;
          image-rendering: crisp-edges;
        }
      }

      @include respond-to-down(sm) {
        grid-column: 1;
        grid-row: 2;
      }
    }
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    // max-width: 100%;
    margin: 0 auto;

    @include respond-to-down(sm) {
      justify-content: center;
    }
  }
  .footer-content-left {
    display: flex;
    justify-content: center;
    flex-direction: row;
    .footer-logo {
      display: flex;
      flex-direction: row;

      .logo-baseline {
        width: 100%;
        height: 100%;
        object-fit: cover;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: crisp-edges;
      }
    }
  }

  .footer-content-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    @include respond-to-down(sm) {
      display: none;
    }

    ul {
      list-style: none;
      display: flex;
      gap: 40px;
      margin: 0;
      padding: 0;

      li {
        color: $primary-light-white;

        a {
          color: $primary-light-white;
          text-decoration: none;

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
    a {
      color: $primary-light-white;
      text-decoration: none;

      &:hover {
        opacity: 0.8;
      }
    }
    .footer-translations {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;
      font-size: 14px;
      .footer-translations-separator {
        color: $primary-red-transparent;
        font-size: 18px;
        font-weight: 900;
      }
    }
  }
}
