@import "../variables";
@import "../breakpoints";

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  z-index: 100;
  background-color: transparent;
  box-sizing: border-box;
  padding-top: 20px;
  transition: background-color 0.3s ease;

  body:has(.home-carousel-container) & {
    display: none;
  }

  &.scrolled {
    background-color: $primary-dark-red;
    height: 100px;
    min-height: 100px;
  }

  @include respond-to-down(md) {
    padding-top: 20px;
    min-height: 90px;
    background-color: transparent;

    &.scrolled {
      height: auto;
      min-height: 90px;
      background-color: $primary-dark-red;
    }
  }

  &:has(.header-menu-content.active) {
    @include respond-to-down(md) {
      background-color: $primary-dark-red;
    }
  }

  body.page-template-page-les-chiffres-des-disparus & {
    background-color: transparent;

    @include respond-to-down(md) {
      background-color: transparent;
    }
  }

  .container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }

  .header-menu- {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin: 0 auto;
    position: relative;
    padding-top: 20px;

    @include respond-to-down(md) {
      padding: 20px 30px 30px 30px;
      padding-top: 20px;
      min-height: 30px;
    }

    @include respond-to-down(sm) {
      justify-content: center;
    }
  }

  .header-menu-sub-menu {
    display: flex;
    justify-content: flex-start;
    flex: 1;
  }

  .header-menu-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1001;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      border: none;
      outline: none;

      &:hover,
      &:focus {
        opacity: 0.9;
        outline: none;
      }
    }

    @include respond-to-down(md) {
      position: fixed;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1002;
      background-color: transparent;
      padding: 0;
      width: auto;
      max-width: 200px;
      box-sizing: border-box;

      picture {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 200px;
          height: 50px;
          max-width: 100%;
          object-fit: contain;
          image-rendering: -webkit-optimize-contrast;
          image-rendering: crisp-edges;
        }
      }
    }

    picture {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: crisp-edges;
      }
    }

    #header:has(.header-menu-content.active) & {
      @include respond-to-down(md) {
        background-color: $primary-dark-red;
      }
    }
  }

  .header-menu-burger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 20px;
    height: 13px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 1001;
    position: relative;

    span:not(.header-menu-burger-text) {
      width: 100%;
      height: 0.8px;
      background-color: $primary-light-white;
      border-radius: 1px;
      transition: all 0.3s ease;
      transform-origin: center;
      position: absolute;
    }

    span:nth-child(1):not(.header-menu-burger-text) {
      top: 0;
    }

    span:nth-child(2):not(.header-menu-burger-text) {
      top: 50%;
      transform: translateY(-50%);
    }

    span:nth-child(3):not(.header-menu-burger-text) {
      bottom: 0;
    }

    .header-menu-burger-text {
      display: none;
      color: $primary-light-white;
      font-size: 14px;
      margin-left: 5px;
      white-space: nowrap;
      margin-bottom: 10px;
    }

    &.active {
      span:nth-child(1):not(.header-menu-burger-text) {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
      }
      span:nth-child(2):not(.header-menu-burger-text) {
        opacity: 0;
      }
      span:nth-child(3):not(.header-menu-burger-text) {
        bottom: auto;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
      }
    }

    @include respond-to-down(md) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      width: auto;
      height: 13px;
      position: fixed;
      left: 20px;
      top: 20px;
      transform: none;
      padding: 15px 20px;
      background-color: transparent;
      z-index: 1003;

      &::before {
        content: "";
        display: block;
        width: 20px;
        height: 13px;
        flex-shrink: 0;
      }

      span:not(.header-menu-burger-text) {
        position: absolute;
        left: 0;
        width: 20px;
        height: 0.8px;
      }

      span:nth-child(1):not(.header-menu-burger-text) {
        top: 5px;
      }

      span:nth-child(2):not(.header-menu-burger-text) {
        top: 50%;
        transform: translateY(-50%);
      }

      span:nth-child(3):not(.header-menu-burger-text) {
        bottom: 5px;
      }

      .header-menu-burger-text {
        display: block;
        position: relative;
        margin-left: 10px;
        margin-top: 10px;
        order: 2;
        align-self: center;
        line-height: 1;
      }

      &.active {
        transform: none;
        top: 20px;

        span:nth-child(1):not(.header-menu-burger-text) {
          top: 50%;
          transform: translateY(-50%) rotate(45deg);
        }
        span:nth-child(2):not(.header-menu-burger-text) {
          opacity: 0;
        }
        span:nth-child(3):not(.header-menu-burger-text) {
          bottom: auto;
          top: 50%;
          transform: translateY(-50%) rotate(-45deg);
        }
      }
    }

    #header:has(.header-menu-content.active) & {
      @include respond-to-down(md) {
        background-color: $primary-dark-red;
      }
    }

    @include respond-to-down(sm) {
      .header-menu-burger-text {
        display: none !important;
      }
      .header-menu-burger-text {
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1004;
        background-color: $primary-dark-red;
        padding: 10px 20px;
        border-radius: 4px;
      }
    }
  }

  .header-menu-content {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 20px;
    width: 100%;

    @include respond-to-down(md) {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      max-width: 100%;
      height: 100vh;
      background-color: $primary-dark-red;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding-top: 80px;
      padding-bottom: 100px;
      z-index: 1000;
      overflow-y: auto;
      overflow-x: hidden;
      font-size: 16px;
      font-weight: 600;
      line-height: 1;
      letter-spacing: 0.01em;
      text-transform: none;

      .sub-menu {
        font-size: 12px;
        font-weight: 0;
      }

      &.active {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        padding-bottom: 100px;
      }
    }

    .primary-menu {
      display: flex;
      list-style: none;
      width: 100%;
      margin: 0;
      padding: 0;
      flex: 1;

      @include respond-to-down(md) {
        flex-direction: column;
        width: 95%;
        margin: 0 auto;
        align-items: center;
        justify-content: flex-start;
      }

      li {
        color: $primary-light-white;
        transition: all 0.3s ease;
        position: relative;
        justify-content: center;
        align-items: center;

        @include respond-to-down(md) {
          width: 98%;
          border-bottom: 1px solid $primary-border-red;
          margin: 0 auto;
          display: block;
          font-size: 34px;
        }
        @include respond-to-down(sm) {
          font-size: 20px;
        }

        @include respond-to-down(md) {
          &.active {
            border-bottom: none !important;
          }
        }

        a {
          text-decoration: none;
          color: $primary-light-white;
          padding: 10px 15px;
          border-radius: 4px;
          transition: all 0.3s ease;
          justify-content: center;
          align-items: center;

          @include respond-to-down(md) {
            display: block;
            padding: 15px 20px;
            padding-right: 50px;
            border-radius: 0;
            width: 100%;
            position: relative;
            text-align: center;
            font-size: 30px;
            font-weight: bold;
          }

          @include respond-to-down(md) {
            font-family: "Test Manuka", sans-serif;
            font-weight: 600;
            font-style: normal;
            font-size: 50px;
            line-height: 100%;
            letter-spacing: 0.05em;
            text-align: center;
          }

          @include respond-to-down(sm) {
            font-family: "Test Manuka", sans-serif;
            font-weight: 600;
            font-style: normal;
            font-size: 36px;
            line-height: 100%;
            letter-spacing: 0.005em;
            text-align: center;
          }
          &:hover {
            opacity: 0.8;
            background-color: rgba(255, 255, 255, 0.1);
          }

          @include respond-to-down(md) {
            &:hover {
              color: $primary-red;
              opacity: 0.8;
              background-color: transparent;
            }
          }
        }

        &:nth-child(1),
        &:nth-child(2) {
          a {
            &:hover {
              background-color: transparent;

              @include respond-to-down(md) {
                color: $primary-red;
                opacity: 0.8;
              }
            }
          }
        }

        &:nth-child(2) {
          @include respond-to-down(md) {
            &.active {
              border-bottom: none !important;
            }
          }

          a {
            cursor: pointer;
            position: relative;
            padding-right: 30px;

            &::after {
              content: "";
              position: absolute;
              right: 10px;
              top: 50%;
              transform: translateY(-50%);
              width: 10px;
              height: 7px;
              background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 6.0625L0 1.0625L1.0625 0L5 3.9375L8.9375 0L10 1.0625L5 6.0625Z' fill='%23ffffff'/%3E%3C/svg%3E");
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center;
              transition: transform 0.3s ease;
              z-index: 10;
              display: block;
              pointer-events: none;
            }

            @include respond-to-down(md) {
              padding-right: 0;
              position: relative;

              &::after {
                right: 8px;
                width: 12px;
                height: 8px;
                display: block !important;
                visibility: visible;
                opacity: 1;
              }
            }
          }

          &:hover {
            a {
              &::after {
                transform: translateY(-50%) rotate(-180deg);
              }
            }

            @include respond-to-down(md) {
              a {
                &::after {
                  transform: translateY(-50%);
                }
              }
            }
          }

          &.active {
            a {
              &::after {
                transform: translateY(-50%) rotate(-180deg);
              }
            }
          }
        }

        &:not(:nth-child(1)) {
          a {
            &::before {
              display: none !important;
            }
          }
        }

        &:nth-child(1) {
          @include respond-to-down(md) {
            border-top: 1px solid $primary-border-red;
            width: 98%;
            margin: 0 auto;
          }

          a {
            position: relative;
            width: auto;

            // Le ::before ne s'affiche que sur la page carte
            &::before {
              display: none;
            }

            // Afficher le ::before uniquement sur la page carte
            body.page-carte & {
              &::before {
                display: block;
                content: "";
                position: absolute;
                bottom: 8px;
                left: 50%;
                transform: translateX(-50%);
                width: 65%;
                height: 1px;
                background-color: $primary-light-white;
              }
            }

            @include respond-to-down(md) {
              padding-left: 10%;

              &::before {
                display: none;
              }
            }
            @include respond-to-down(sm) {
              padding-left: 15%;
            }
            @include respond-to-down(xs) {
              padding-left: 25%;
            }
          }
        }

        .sub-menu {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          margin-top: 10px;
          background-color: $primary-dark-red;
          border: 0.15px solid $primary-light-red;
          border-radius: 4px;
          list-style: none;
          padding: 15px 0;
          min-width: 300px;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          z-index: 1000;
          pointer-events: auto;

          @include respond-to-down(md) {
            position: static;
            margin-top: 0;
            border: none;
            border-radius: 0;
            padding: 0;
            width: 100%;
            box-shadow: none;
            display: none;
            flex-direction: column;
            align-items: center;
            opacity: 0;
            transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
          }

          @include respond-to-down(md) {
            &.active {
              display: flex !important;
              flex-direction: column !important;
              align-items: center !important;
              width: 100%;
              font-size: 18px;
              font-weight: medium;
              text-transform: none;
              opacity: 1;
              font-family: sans-serif;
            }
          }

          li {
            width: 100%;

            @include respond-to-down(md) {
              width: 80%;
              margin: 0 auto;
              border-bottom: none !important;
              border-top: none !important;
            }

            &:first-child {
              @include respond-to-down(md) {
                border-top: none !important;
              }
            }

            a {
              display: inline-block;
              margin: 5px 20px;
              white-space: nowrap;
              border-bottom: none;

              &::before {
                display: none;
              }
              &::after {
                display: none !important;
              }
              &:hover {
                transition: all 0.3s ease;
                background-color: rgba(255, 255, 255, 0.1);
              }
              @include respond-to-down(md) {
                display: block;
                padding: 15px 20px;
                padding-left: 20px;
                font-size: 14px;
                width: 100%;
                position: relative;
                border-bottom: none !important;
                box-sizing: border-box;
                transition: all 0.5s ease;
                font-family: sans-serif;

                &:hover {
                  color: $primary-red;
                  opacity: 0.8;
                }
              }
            }
          }
        }

        &:hover .sub-menu {
          display: block;

          @include respond-to-down(md) {
            display: none !important;
          }
        }

        @include respond-to-down(md) {
          &:hover .sub-menu {
            display: none !important;
          }
        }

        @include respond-to-down(md) {
          &.menu-item-has-children {
            .sub-menu {
              &.active {
                display: block !important;
              }
            }
          }

          &:hover .sub-menu {
            &.active {
              display: block !important;
            }
          }
        }

        @include respond-to(lg) {
          &:nth-child(3) {
            margin-left: auto;
          }
        }

        @include respond-to-down(md) {
          &:nth-child(n + 3) {
            transition: transform 0.4s ease-in-out;
            will-change: transform;
          }
        }
      }
    }
  }

  .header-menu-lang {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    color: $primary-light-white;
    font-size: 14px;
    margin-left: 40px;

    @include respond-to-down(md) {
      display: none;
    }

    .header-menu-lang-fr,
    .header-menu-lang-en {
      a {
        text-decoration: none;
        color: inherit;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    .header-menu-lang-separator {
      color: $primary-red-transparent;
      font-size: 17px;
      font-weight: 900;
    }
  }

  .header-menu-footer-mobile {
    display: none;

    @include respond-to-down(md) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 20px;
      margin-top: auto;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $primary-dark-red;
      z-index: 1001;

      .header-menu-footer-legal {
        flex: 1;

        .footer-menu-mobile {
          list-style: none;
          margin: 0;
          padding: 0;
          display: flex;
          flex-direction: row;
          gap: 20px;

          li {
            margin: 0;
            display: none;

            &:first-child {
              display: block;
            }

            a {
              color: $primary-light-white;
              text-decoration: none;
              font-size: 14px;
              transition: opacity 0.3s ease;

              @include respond-to-down(md) {
                font-size: 18px;
              }

              &:hover {
                opacity: 0.8;
              }
            }
          }
        }
      }

      .header-menu-lang-mobile {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        color: $primary-light-white;
        font-size: 14px;
        margin-right: 8%;

        @include respond-to-down(md) {
          font-size: 18x;

          .header-menu-lang-separator {
            font-size: 18px;
          }
        }

        .header-menu-lang-fr,
        .header-menu-lang-en {
          a {
            text-decoration: none;
            color: inherit;

            &:hover {
              opacity: 0.8;
            }
          }
        }

        .header-menu-lang-separator {
          color: $primary-red-transparent;
          font-size: 17px;
          font-weight: 900;
        }
      }
    }
  }
}
