@import "variables";
@import "breakpoints";

body {
  background-color: $primary-light-white;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  .footer {
    background-color: $primary-dark-red;
    padding: 20px;
    width: 100%;
    height: 100%;
    color: #fff;
    .footer-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      width: 100%;
      height: 100%;
    }
    .footer-logo {
      padding-left: 20px;
      width: 100%;
      height: 100%;
    }
    footer-content-right {
      color: #fff;
    }
  }
}
