@import "variables";
@import "breakpoints";

body {
  background-color: $primary-light-white;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  .footer {
    background-color: $primary-dark-red;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    color: #fff;
  }
}
