// colors variables
// ============================================

// colors
$primary-dark-red: #4a0b24;
$primary-light-red: #72092c;
$primary-light-white: #F6F6F6;
$primary-red-transparent: #A58491;
