@import "variables";
@import "breakpoints";
@import "pages/footer";
@import "pages/header";
@import "pages/single";
@import "pages/carte";
@import "pages/contact";
@import "pages/a-propos";

@import "~swiper/css";
@import "~swiper/css/pagination";
@import "~swiper/css/autoplay";
@import "~swiper/css/effect-fade";

html {
  height: 100%;
}

body {
  background-color: $primary-dark-red;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: visible;
}

html {
  overflow-x: hidden;
  overflow-y: visible;
  width: 100%;
  max-width: 100%;
}

#page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1;
}

#main {
  flex: 1;
  padding-top: 160px;
  box-sizing: border-box;

  @include respond-to-down(md) {
    padding-top: 100px;
  }
}
@font-face {
  font-family: "Test Manuka";
  src: url("../fonts/manuka-font-family/TestManuka-Regular-BF663c33db89825.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Test Manuka";
  src: url("../fonts/manuka-font-family/TestManuka-Bold-BF663c33db7b03f.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Newsreader";
  src: url("../fonts/Newsreader/Newsreader-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 200 800; // ExtraLight à ExtraBold
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
}

@font-face {
  font-family: "Newsreader";
  src: url("../fonts/Newsreader/Newsreader-Italic-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 200 800; // ExtraLight à ExtraBold
  font-style: italic;
  font-display: swap;
  font-optical-sizing: auto;
}

@font-face {
  font-family: "Commissioner";
  src: url("../fonts/Commissioner/Commissioner/Commissioner-VariableFont_FLAR,VOLM,slnt,wght.ttf")
    format("truetype");
  font-weight: 100 900; // Thin à Black
  font-style: normal;
  font-display: swap;
  font-variation-settings: "FLAR" 0, "VOLM" 0, "slnt" 0;
}
